RewriteEngine On

# Remove index.php from URL
RewriteCond %{THE_REQUEST} \s/+public/index\.php/([^\s?]*) [NC]
RewriteRule ^ /public/%1? [R=301,L]

# Handle all other requests
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php/$1 [L]